<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/User/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/User/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/User/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="~/Content/User/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="~/Content/User/css/jquery.bxslider.css">
    <link rel="stylesheet" href="~/Content/User/css/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/User/css/flexslider.css">
    <link rel="stylesheet" href="~/Content/User/css/swiper.css">
    <link rel="stylesheet" href="~/Content/User/css/swiper.css">
    <link rel="stylesheet" href="~/Content/User/css/style.css">
    <link rel="stylesheet" href="~/Content/User/css/media.css">

</head>
<body>
    <!-- Header - start -->
    @Html.Action("Header","Module")
    <!-- Header - end -->
    <!-- Main Content - start -->
    <main>
        <section class="container">


            <!-- Slider -->
            @Html.Action("SlideShow", "Module")


            <!-- Popular Products -->
            @RenderBody()

            <!-- .fr-pop-wrap -->
            <!-- Special offer -->
            @Html.Action("Discount", "Module")


            <!-- Latest news -->
            @Html.Action("Post", "Module")
            <!-- Subscribe Form -->
            @Html.Action("Subscribe", "Module")
        </section>
    </main>
    <!-- Main Content - end -->
    <!-- Footer - start -->
    @Html.Action("Footer","Module")
    <!-- Footer - end -->
    <!-- jQuery plugins/scripts - start -->
    <script src="~/Content/User/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/User/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/User/js/fancybox/fancybox.js"></script>
    <script src="~/Content/User/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="~/Content/User/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/User/js/swiper.jquery.min.js"></script>
    <script src="~/Content/User/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/User/js/progressbar.min.js"></script>
    <script src="~/Content/User/js/ion.rangeSlider.min.js"></script>
    <script src="~/Content/User/js/chosen.jquery.min.js"></script>
    <script src="~/Content/User/js/jQuery.Brazzers-Carousel.js"></script>
    <script src="~/Content/User/js/plugins.js"></script>
    <script src="~/Content/User/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
    <script src="~/Content/User/js/gmap.js"></script>
    <!-- jQuery plugins/scripts - end -->

</body>
</html>